/* Button helpers */

/* Buttons */
.u-button{
  display:inline-block;
  padding:0.7em 2em;
  border-radius:3px;
  border:1px solid transparent;
  font-family:var(--font-secondary);
  text-transform:uppercase;
  letter-spacing:1px;
  cursor:pointer;
}
.u-button--solid-primary{background:var(--color-primary);border-color:var(--color-primary);color:#fff;}
.u-button--solid-primary:hover{background:transparent;color:var(--color-primary);}
.u-button--solid-secondary{background:var(--color-secondary);border-color:var(--color-secondary);color:#fff;}
.u-button--solid-secondary:hover{background:transparent;color:var(--color-secondary);}
.u-button--ghost-primary{background:transparent;border-color:var(--color-primary);color:var(--color-primary);}
.u-button--ghost-primary:hover{background:var(--color-primary);color:#fff;}
.u-button--ghost-secondary{background:transparent;border-color:var(--color-secondary);color:var(--color-secondary);}
.u-button--ghost-secondary:hover{background:var(--color-secondary);color:#fff;}
