/* Width utilities (fractions, responsive variants) */

/* Widths */
.u-1\/1{width:100%;}
.u-1\/2{width:50%;}
.u-1\/3{width:33.3333%;}
.u-2\/3{width:66.6667%;}
.u-1\/4{width:25%;}
.u-2\/4{width:50%;}
.u-3\/4{width:75%;}
.u-1\/5{width:20%;}
.u-2\/5{width:40%;}
.u-3\/5{width:60%;}
.u-4\/5{width:80%;}
.u-1\/6{width:16.6667%;}
.u-2\/6{width:33.3333%;}
.u-3\/6{width:50%;}
.u-4\/6{width:66.6667%;}
.u-5\/6{width:83.3333%;}
.u-1\/8{width:12.5%;}
.u-2\/8{width:25%;}
.u-3\/8{width:37.5%;}
.u-4\/8{width:50%;}
.u-5\/8{width:62.5%;}
.u-6\/8{width:75%;}
.u-7\/8{width:87.5%;}
.u-1\/10{width:10%;}
.u-2\/10{width:20%;}
.u-3\/10{width:30%;}
.u-4\/10{width:40%;}
.u-5\/10{width:50%;}
.u-6\/10{width:60%;}
.u-7\/10{width:70%;}
.u-8\/10{width:80%;}
.u-9\/10{width:90%;}
.u-1\/12{width:8.33333%;}
.u-2\/12{width:16.6667%;}
.u-3\/12{width:25%;}
.u-4\/12{width:33.3333%;}
.u-5\/12{width:41.6667%;}
.u-6\/12{width:50%;}
.u-7\/12{width:58.3333%;}
.u-8\/12{width:66.6667%;}
.u-9\/12{width:75%;}
.u-10\/12{width:83.3333%;}
.u-11\/12{width:91.6667%;}

@media (min-width:321px){
.u-1\/1\@xt-up{width:100%;}
.u-1\/2\@xt-up{width:50%;}
.u-1\/3\@xt-up{width:33.3333%;}
.u-2\/3\@xt-up{width:66.6667%;}
.u-1\/4\@xt-up{width:25%;}
.u-2\/4\@xt-up{width:50%;}
.u-3\/4\@xt-up{width:75%;}
.u-1\/5\@xt-up{width:20%;}
.u-2\/5\@xt-up{width:40%;}
.u-3\/5\@xt-up{width:60%;}
.u-4\/5\@xt-up{width:80%;}
.u-1\/6\@xt-up{width:16.6667%;}
.u-2\/6\@xt-up{width:33.3333%;}
.u-3\/6\@xt-up{width:50%;}
.u-4\/6\@xt-up{width:66.6667%;}
.u-5\/6\@xt-up{width:83.3333%;}
.u-1\/8\@xt-up{width:12.5%;}
.u-2\/8\@xt-up{width:25%;}
.u-3\/8\@xt-up{width:37.5%;}
.u-4\/8\@xt-up{width:50%;}
.u-5\/8\@xt-up{width:62.5%;}
.u-6\/8\@xt-up{width:75%;}
.u-7\/8\@xt-up{width:87.5%;}
.u-1\/10\@xt-up{width:10%;}
.u-2\/10\@xt-up{width:20%;}
.u-3\/10\@xt-up{width:30%;}
.u-4\/10\@xt-up{width:40%;}
.u-5\/10\@xt-up{width:50%;}
.u-6\/10\@xt-up{width:60%;}
.u-7\/10\@xt-up{width:70%;}
.u-8\/10\@xt-up{width:80%;}
.u-9\/10\@xt-up{width:90%;}
.u-1\/12\@xt-up{width:8.33333%;}
.u-2\/12\@xt-up{width:16.6667%;}
.u-3\/12\@xt-up{width:25%;}
.u-4\/12\@xt-up{width:33.3333%;}
.u-5\/12\@xt-up{width:41.6667%;}
.u-6\/12\@xt-up{width:50%;}
.u-7\/12\@xt-up{width:58.3333%;}
.u-8\/12\@xt-up{width:66.6667%;}
.u-9\/12\@xt-up{width:75%;}
.u-10\/12\@xt-up{width:83.3333%;}
.u-11\/12\@xt-up{width:91.6667%;}
}
@media (min-width:481px){
.u-1\/1\@xs-up{width:100%;}
.u-1\/2\@xs-up{width:50%;}
.u-1\/3\@xs-up{width:33.3333%;}
.u-2\/3\@xs-up{width:66.6667%;}
.u-1\/4\@xs-up{width:25%;}
.u-2\/4\@xs-up{width:50%;}
.u-3\/4\@xs-up{width:75%;}
.u-1\/5\@xs-up{width:20%;}
.u-2\/5\@xs-up{width:40%;}
.u-3\/5\@xs-up{width:60%;}
.u-4\/5\@xs-up{width:80%;}
.u-1\/6\@xs-up{width:16.6667%;}
.u-2\/6\@xs-up{width:33.3333%;}
.u-3\/6\@xs-up{width:50%;}
.u-4\/6\@xs-up{width:66.6667%;}
.u-5\/6\@xs-up{width:83.3333%;}
.u-1\/8\@xs-up{width:12.5%;}
.u-2\/8\@xs-up{width:25%;}
.u-3\/8\@xs-up{width:37.5%;}
.u-4\/8\@xs-up{width:50%;}
.u-5\/8\@xs-up{width:62.5%;}
.u-6\/8\@xs-up{width:75%;}
.u-7\/8\@xs-up{width:87.5%;}
.u-1\/10\@xs-up{width:10%;}
.u-2\/10\@xs-up{width:20%;}
.u-3\/10\@xs-up{width:30%;}
.u-4\/10\@xs-up{width:40%;}
.u-5\/10\@xs-up{width:50%;}
.u-6\/10\@xs-up{width:60%;}
.u-7\/10\@xs-up{width:70%;}
.u-8\/10\@xs-up{width:80%;}
.u-9\/10\@xs-up{width:90%;}
.u-1\/12\@xs-up{width:8.33333%;}
.u-2\/12\@xs-up{width:16.6667%;}
.u-3\/12\@xs-up{width:25%;}
.u-4\/12\@xs-up{width:33.3333%;}
.u-5\/12\@xs-up{width:41.6667%;}
.u-6\/12\@xs-up{width:50%;}
.u-7\/12\@xs-up{width:58.3333%;}
.u-8\/12\@xs-up{width:66.6667%;}
.u-9\/12\@xs-up{width:75%;}
.u-10\/12\@xs-up{width:83.3333%;}
.u-11\/12\@xs-up{width:91.6667%;}
}
@media (min-width:641px){
.u-1\/1\@sl-up{width:100%;}
.u-1\/2\@sl-up{width:50%;}
.u-1\/3\@sl-up{width:33.3333%;}
.u-2\/3\@sl-up{width:66.6667%;}
.u-1\/4\@sl-up{width:25%;}
.u-2\/4\@sl-up{width:50%;}
.u-3\/4\@sl-up{width:75%;}
.u-1\/5\@sl-up{width:20%;}
.u-2\/5\@sl-up{width:40%;}
.u-3\/5\@sl-up{width:60%;}
.u-4\/5\@sl-up{width:80%;}
.u-1\/6\@sl-up{width:16.6667%;}
.u-2\/6\@sl-up{width:33.3333%;}
.u-3\/6\@sl-up{width:50%;}
.u-4\/6\@sl-up{width:66.6667%;}
.u-5\/6\@sl-up{width:83.3333%;}
.u-1\/8\@sl-up{width:12.5%;}
.u-2\/8\@sl-up{width:25%;}
.u-3\/8\@sl-up{width:37.5%;}
.u-4\/8\@sl-up{width:50%;}
.u-5\/8\@sl-up{width:62.5%;}
.u-6\/8\@sl-up{width:75%;}
.u-7\/8\@sl-up{width:87.5%;}
.u-1\/10\@sl-up{width:10%;}
.u-2\/10\@sl-up{width:20%;}
.u-3\/10\@sl-up{width:30%;}
.u-4\/10\@sl-up{width:40%;}
.u-5\/10\@sl-up{width:50%;}
.u-6\/10\@sl-up{width:60%;}
.u-7\/10\@sl-up{width:70%;}
.u-8\/10\@sl-up{width:80%;}
.u-9\/10\@sl-up{width:90%;}
.u-1\/12\@sl-up{width:8.33333%;}
.u-2\/12\@sl-up{width:16.6667%;}
.u-3\/12\@sl-up{width:25%;}
.u-4\/12\@sl-up{width:33.3333%;}
.u-5\/12\@sl-up{width:41.6667%;}
.u-6\/12\@sl-up{width:50%;}
.u-7\/12\@sl-up{width:58.3333%;}
.u-8\/12\@sl-up{width:66.6667%;}
.u-9\/12\@sl-up{width:75%;}
.u-10\/12\@sl-up{width:83.3333%;}
.u-11\/12\@sl-up{width:91.6667%;}
}
@media (min-width:769px){
.u-1\/1\@sm-up{width:100%;}
.u-1\/2\@sm-up{width:50%;}
.u-1\/3\@sm-up{width:33.3333%;}
.u-2\/3\@sm-up{width:66.6667%;}
.u-1\/4\@sm-up{width:25%;}
.u-2\/4\@sm-up{width:50%;}
.u-3\/4\@sm-up{width:75%;}
.u-1\/5\@sm-up{width:20%;}
.u-2\/5\@sm-up{width:40%;}
.u-3\/5\@sm-up{width:60%;}
.u-4\/5\@sm-up{width:80%;}
.u-1\/6\@sm-up{width:16.6667%;}
.u-2\/6\@sm-up{width:33.3333%;}
.u-3\/6\@sm-up{width:50%;}
.u-4\/6\@sm-up{width:66.6667%;}
.u-5\/6\@sm-up{width:83.3333%;}
.u-1\/8\@sm-up{width:12.5%;}
.u-2\/8\@sm-up{width:25%;}
.u-3\/8\@sm-up{width:37.5%;}
.u-4\/8\@sm-up{width:50%;}
.u-5\/8\@sm-up{width:62.5%;}
.u-6\/8\@sm-up{width:75%;}
.u-7\/8\@sm-up{width:87.5%;}
.u-1\/10\@sm-up{width:10%;}
.u-2\/10\@sm-up{width:20%;}
.u-3\/10\@sm-up{width:30%;}
.u-4\/10\@sm-up{width:40%;}
.u-5\/10\@sm-up{width:50%;}
.u-6\/10\@sm-up{width:60%;}
.u-7\/10\@sm-up{width:70%;}
.u-8\/10\@sm-up{width:80%;}
.u-9\/10\@sm-up{width:90%;}
.u-1\/12\@sm-up{width:8.33333%;}
.u-2\/12\@sm-up{width:16.6667%;}
.u-3\/12\@sm-up{width:25%;}
.u-4\/12\@sm-up{width:33.3333%;}
.u-5\/12\@sm-up{width:41.6667%;}
.u-6\/12\@sm-up{width:50%;}
.u-7\/12\@sm-up{width:58.3333%;}
.u-8\/12\@sm-up{width:66.6667%;}
.u-9\/12\@sm-up{width:75%;}
.u-10\/12\@sm-up{width:83.3333%;}
.u-11\/12\@sm-up{width:91.6667%;}
}
@media (min-width:981px){
.u-1\/1\@md-up{width:100%;}
.u-1\/2\@md-up{width:50%;}
.u-1\/3\@md-up{width:33.3333%;}
.u-2\/3\@md-up{width:66.6667%;}
.u-1\/4\@md-up{width:25%;}
.u-2\/4\@md-up{width:50%;}
.u-3\/4\@md-up{width:75%;}
.u-1\/5\@md-up{width:20%;}
.u-2\/5\@md-up{width:40%;}
.u-3\/5\@md-up{width:60%;}
.u-4\/5\@md-up{width:80%;}
.u-1\/6\@md-up{width:16.6667%;}
.u-2\/6\@md-up{width:33.3333%;}
.u-3\/6\@md-up{width:50%;}
.u-4\/6\@md-up{width:66.6667%;}
.u-5\/6\@md-up{width:83.3333%;}
.u-1\/8\@md-up{width:12.5%;}
.u-2\/8\@md-up{width:25%;}
.u-3\/8\@md-up{width:37.5%;}
.u-4\/8\@md-up{width:50%;}
.u-5\/8\@md-up{width:62.5%;}
.u-6\/8\@md-up{width:75%;}
.u-7\/8\@md-up{width:87.5%;}
.u-1\/10\@md-up{width:10%;}
.u-2\/10\@md-up{width:20%;}
.u-3\/10\@md-up{width:30%;}
.u-4\/10\@md-up{width:40%;}
.u-5\/10\@md-up{width:50%;}
.u-6\/10\@md-up{width:60%;}
.u-7\/10\@md-up{width:70%;}
.u-8\/10\@md-up{width:80%;}
.u-9\/10\@md-up{width:90%;}
.u-1\/12\@md-up{width:8.33333%;}
.u-2\/12\@md-up{width:16.6667%;}
.u-3\/12\@md-up{width:25%;}
.u-4\/12\@md-up{width:33.3333%;}
.u-5\/12\@md-up{width:41.6667%;}
.u-6\/12\@md-up{width:50%;}
.u-7\/12\@md-up{width:58.3333%;}
.u-8\/12\@md-up{width:66.6667%;}
.u-9\/12\@md-up{width:75%;}
.u-10\/12\@md-up{width:83.3333%;}
.u-11\/12\@md-up{width:91.6667%;}
}
@media (min-width:1171px){
.u-1\/1\@lg-up{width:100%;}
.u-1\/2\@lg-up{width:50%;}
.u-1\/3\@lg-up{width:33.3333%;}
.u-2\/3\@lg-up{width:66.6667%;}
.u-1\/4\@lg-up{width:25%;}
.u-2\/4\@lg-up{width:50%;}
.u-3\/4\@lg-up{width:75%;}
.u-1\/5\@lg-up{width:20%;}
.u-2\/5\@lg-up{width:40%;}
.u-3\/5\@lg-up{width:60%;}
.u-4\/5\@lg-up{width:80%;}
.u-1\/6\@lg-up{width:16.6667%;}
.u-2\/6\@lg-up{width:33.3333%;}
.u-3\/6\@lg-up{width:50%;}
.u-4\/6\@lg-up{width:66.6667%;}
.u-5\/6\@lg-up{width:83.3333%;}
.u-1\/8\@lg-up{width:12.5%;}
.u-2\/8\@lg-up{width:25%;}
.u-3\/8\@lg-up{width:37.5%;}
.u-4\/8\@lg-up{width:50%;}
.u-5\/8\@lg-up{width:62.5%;}
.u-6\/8\@lg-up{width:75%;}
.u-7\/8\@lg-up{width:87.5%;}
.u-1\/10\@lg-up{width:10%;}
.u-2\/10\@lg-up{width:20%;}
.u-3\/10\@lg-up{width:30%;}
.u-4\/10\@lg-up{width:40%;}
.u-5\/10\@lg-up{width:50%;}
.u-6\/10\@lg-up{width:60%;}
.u-7\/10\@lg-up{width:70%;}
.u-8\/10\@lg-up{width:80%;}
.u-9\/10\@lg-up{width:90%;}
.u-1\/12\@lg-up{width:8.33333%;}
.u-2\/12\@lg-up{width:16.6667%;}
.u-3\/12\@lg-up{width:25%;}
.u-4\/12\@lg-up{width:33.3333%;}
.u-5\/12\@lg-up{width:41.6667%;}
.u-6\/12\@lg-up{width:50%;}
.u-7\/12\@lg-up{width:58.3333%;}
.u-8\/12\@lg-up{width:66.6667%;}
.u-9\/12\@lg-up{width:75%;}
.u-10\/12\@lg-up{width:83.3333%;}
.u-11\/12\@lg-up{width:91.6667%;}
}
