/* Colour helpers */

/* Colours */
.u-primary-colour{color:var(--color-primary);}
.u-secondary-colour{color:var(--color-secondary);}
.u-dark{color:var(--color-dark);}
.u-light{color:var(--color-light);}
.u-white{color:#fff;}

.u-primary-bg{background:var(--color-primary);}
.u-secondary-bg{background:var(--color-secondary);}
.u-dark-bg{background:var(--color-dark);}
.u-light-bg{background:var(--color-light);}
.u-white-bg{background:#fff;}
